<div class="background">
    <div class="options">
        <button mat-icon-button matTooltip="New Shader" routerLink='/xyz/editor/new'>
            <mat-icon color="accent">create</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Shader List" routerLink='/xyz/list'>
            <mat-icon color="accent">list</mat-icon>
        </button>
        <button mat-icon-button matTooltip="About" (click)="showAbout()">
            <mat-icon color="accent">info</mat-icon>
        </button>
    </div>
</div>
